@page
@model Coursework.Pages.SearchModel
@{
}

<main>
    <div class="signup-bg">
		<img src="Images\SignUp.png" class="sign-bg">
		<div class="signup-text">
			<h1>Search Your Product</h1>
		</div>
	</div>
	<br><br><br>
    <form method="get" asp-controller="Search" asp-action="Index">
        <div class="search-container">
            <input type="text" class="searchbar" id="searchQuery" name="searchQuery">
        </div>
        <button type="submit" class="dropdown-toggle">Search</button>
    </form>

    @if (TempData["LoginSuccessMessage"] != null)
    {
        <br>
        <br>
        <div class="text-success">
            @TempData["LoginSuccessMessage"]
        </div>
    }

    @if (Model.Products != null && Model.Products.Count > 0)
    {
        <h2>Search Results</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                        {
                            <th>Add to Cart</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
                            {
                            <td>
                                <div class="dropdown">
                                    <form method="post" asp-page-handler="AddCart">
                                        <input type="hidden" name="productId" value="@product.ProductId" />
                                        <button type="submit" class="add-to-cart-2">Add to Cart</button>
                                    </form>
                                </div>
                            </td>
                            }
                            
                        </tr>
                    }
                </tbody>
            </table>
    }

</main>
